body { 
    background-color: #0E79B2;
}
#back {
    background-color: #FBFEF9;
    margin-top: 0.7%;
    margin-bottom: 0.7%;
    margin: 0.7%;
    padding: 1%;
    border-radius: 0.7%;
    height: 97%;
}
#ip {
    margin-right: 1%;
    margin-bottom: 2%;
    margin-top: 43%;
    text-align: right;
}