<html>
    <head>
        <title>
            Smart Composter Manager
        </title>
        <meta charset="utf-8">
        <!-- <meta http-equiv="refresh" content="1"> -->
        <link rel="stylesheet" href="static/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://cdn.jsdelivr.net/npm/p5@1.11.11/lib/p5.min.js"></script>
    </head>
    <body>
        <div id="logo">
            <h1> SmartComposter </h1>
        </div>
        <div id="back">
            <br><br>
            <div id="gauge-cluster">
                <div class="gauges" id="gauge-temp" style="display: block; align-items: center; justify-content: center;">
                    <br><label id="temp">Température</label>
                </div>
                <br>
                <div class="gauges" id="gauge-humidite" style="display: block; align-items: center; justify-content: center;">
                    <br><label id="humidite">Humidité
                    </label>
                </div>
            </div>
            <a id="ip" href="ssh://{{ip}}">SSH: {{ip}}</a>
        </div>
        
    </body>
<script src="static/humidite.js"></script>

</html>