<html>
    <head>
        <title>
            Smart Composter Manager
        </title>
        <meta charset="utf-8">
        <!-- <meta http-equiv="refresh" content="1"> -->
        <link rel="stylesheet" href="static/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
        <div id="back">
            <div id="data" hx-get="/get-live-data" hx-trigger="every 0.5s">

            </div>
        </div>
        
    </body>
</html>